@import url(https://fonts.google.com/specimen/Raleway?query=raleway);(https://fonts.google.com/specimen/Nunito?query=nunito)

root: {
    --primary-color: #ADE1E5;
    --secondary-color: #79C7C5;
    --accent1-color: #2374AB;
    --accent2-color: #3C362A;

    --heading-font: 'Raleway', sans-serif;
    --paragraph-font: 'Nunito', sans-serif;

    --nav-background-color: #79C7C5;
    --nav-link-color: #2374AB;
    --nav-hover-link-color: #3C362A;
    --nav-hover-background-color: #ADE1E5;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
   padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}